<%= form_with model: book do |form| %>


  <% if @book.errors.any? %>
    <ul>
    <% book.errors.full_messages.each do |message|%>
      <li style="color:red;"> <%= message %> </li>
    <%end%>
    </ul>
  <%end%>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, value: "Description" %><br>
    <%= form.text_area :body, size: "100x20" %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['ongoing', 'completed', 'archived'], selected: 'ongoing' %>
  </div>

  <div>
    <%= form.label :picture, value: "Upload your file" %><br>
    <%= form.file_field :picture %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<p> <%= link_to "Cancel", root_path %> </p>
