<div class="row">
  <div class="col-md-3">
    <%= image_tag(@book.picture_url, width: 200) if @book.picture.present? %></p>
  </div>

  <div class="col-sm-9">
    <p><b><%= @book.title %></b></p>
    <p><%= @book.body %></p>

    <p>
      <% if user_signed_in? %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Delete book", book_path(@book), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
      <% end %>
  <%= link_to 'Back', root_path %>
    </p>
  </div>
</div>

<h4>Comments</h4>
<%= render @book.comments %>

<h5>Add a comment:</h5>
<%= render 'comments/form' %>
